<h1>ログイン</h1>
<main>
    <form action="login" method="post">
        <p>ログインID：<input type="text" name="user_name"></p>
        <p>パスワード：<input type="password" name="password"></p>
        <input type="submit" name="login" value="ログイン">
    </form>
</main>