<h1>アカウント作成</h1>
<main>
    <form action="register" method="post">
        <p>ログインID：<input type="text" name="user_name"></p>
        <p>パスワード：<input type="password" name="password"></p>
        <input type="submit" name="register" value="登録">
    </form>
</main>